# CAP 05

## condicional if

In [3]:
# Condicional if 
if 5 > 2:
    print('Verdadeiro')
else:
    print('Falso')

Verdadeiro

In [4]:
# condicional if else com variavel
dia = 'Terça'
if dia == 'Segunda':
    print('fará Sol')
else:
    print('vai chover')

vai chover

In [6]:
# condicional if else com variavel
dia = 'Segunda'
if dia == 'Segunda':
    print('fará Sol')
elif dia == 'Terça':
    print('vai chover')
else: 
    print('Sem previsâo do tempo')

fará Sol

In [7]:
dhiogo = 'frango'
if dhiogo == 'frango':
    print('dhiogo é um franguinho')
elif dhiogo == 'daddy':
    print('good way 2 go')

dhiogo é um franguinho

 ## Operadores Relacionais

In [8]:
6 > 3

True

In [9]:
4 > 7

False

In [10]:
3 == 5

False

In [12]:
if 5 == 5:
    print('they´re equal')

they´re equal

In [13]:
if True: 
    print('yass queen')

yass queen

In [14]:
4 >= 4

True

### ATENÇAO COM A SINTAXE

## Condicionais aninhados

In [25]:
idade = 18
if idade > 17:
    print('go on hunny')

go on hunny

In [27]:
Nome = 'Bob'
if idade > 13:
    if Nome == 'Bob':
        print('Welcome in BOB')
    else: 
        print('Srry cant come in')

Welcome in BOB

In [29]:
idade = 13
Nome = 'Bob'
if idade >= 13 and Nome == 'Bob':
    print('Welcome in')

Welcome in

In [31]:
idade = 15
Nome = 'Barb'
if idade >= 15 and Nome == 'Barb':
    print('you´re ded')

you´re ded

In [32]:
idade = 12 
Nome = 'Bob'
if (idade >= 13) or (Nome == 'Bob'):
    print('c´mon')

c´mon

## Operadores lógicos

In [33]:
idade = 18
nome = 'Bob'
if idade > 17:
    print('go ahead')

go ahead

In [35]:
idade = 18
if idade > 17 and nome == 'Bob':
    print('go ahead')

go ahead

In [36]:
# and

numero = 4
if (numero > 2) and (numero % 2 == 0):
    print('ok')

ok

In [37]:
# and

numero = 4
if (numero > 5) and (numero % 2 == 0):
    print('ok')
else:
    print('not ok')

not ok

In [38]:
# operador or 

# and

numero = 4
if (numero > 5) or (numero % 2 == 0):
    print('ok')

ok

In [39]:
# operador not 


numero = 4
if not(numero > 5) and (numero % 2 == 0):
    print('ok')
else: 
    print('not ok')

ok

In [40]:
# operador and, or e not 

numero = 4

if(not(numero > 5) and (numero % 2 == 0)) or (numero == 4):
    print('ok')

ok

In [41]:
# Exemplo com variáveis 

disciplina = 'DS'
nota_final = 70 

if disciplina == 'DS' and nota_final >= 70:
    print('yass queen')
else: 
    print('bruh?')

yass queen

In [42]:
disciplina = 'DS'
nota_final = 60 

if disciplina == 'DS' and nota_final >= 70:
    print('yass queen')
else: 
    print('bruh?')

bruh?

In [43]:
# Usando mais de uma condiçâo na cláusula if e introduzindo placeholders

disciplina = 'DS'
nota_final = 90
semestre = 2

if disciplina == 'DS' and nota_final >= 80 and semestre != 1:
    print('vc foi aprovado em %s com média final %r' %(disciplina, nota_final))
else: 
    print('sorry bruv')

vc foi aprovado em DS com média final 90

## LOOP FOR

In [44]:
# criando uma tp e print values 
tp = (2,3,4)
for i in tp: 
    print(i)

2
3
4

In [46]:
# criando uma lista e imprimindo valores 
ListaDeStrings = ['Data', 'Science', 'Academy']
for i in ListaDeStrings:
    print(i)

Data
Science
Academy

In [47]:
lista = ['eu', 'to', 'cansada']
for i in lista:
    print(i)

eu
to
cansada

In [48]:
# imprimindo os valores no intervalo entre 0 e 5 (exclusive)
# 5 é exclusivo

for contador in range(0,5):
    print(contador)

0
1
2
3
4

In [49]:
lista = [1,2,3,4,5,6,7,8,9,10]
for num in lista:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [50]:
for i in range(0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [52]:
for caracter in 'Python é uma linguagem de programaçâo divertida':
    print(caracter)

P
y
t
h
o
n

é

u
m
a

l
i
n
g
u
a
g
e
m

d
e

p
r
o
g
r
a
m
a
ç
â
o

d
i
v
e
r
t
i
d
a

## LOOP FOR ANINHADO

In [53]:
lista1 = [0,1,2,3,4]
lista2 = [1,2,3]

# loop externo
for elemento_lista1 in lista1: 
    
    # Loop interno
    for elemento_lista2 in lista2:
        
        print('\n', elemento_lista1 * elemento_lista2)
        
    print('----')

 0

 0

 0
----

 1

 2

 3
----

 2

 4

 6
----

 3

 6

 9
----

 4

 8

 12
----

In [55]:
# o numero 47 aparece nas duas listas?

lista1 = [10,16,24,39,47]
lista2 = [32,89,47,76,12]

#loop externo 
for elemento_lista1 in lista1:
    
    #loop interno 
    for elemento_lista2 in lista2:
        
        # condicional 
        if elemento_lista1 == 47 and elemento_lista2 == 47:
            
            print('O numero 47 foi encontrado nas duas')

O numero 47 foi encontrado nas duas

In [58]:
for elemento_lista1 in lista1:
    
    for elemento_lista2 in lista2:
        
        if elemento_lista1 == 16 and elemento_lista2 == 16:
            
            print('achei')

In [62]:
# some os numeros pares da primeira lista com os numeros da segunda lista 

lista1 = [10,16,24,39,47]
lista2 = [32,89,47,76,12]
soma = 0 

# loop externo 
for lista in (lista1, lista2):
    
    # loop interno
    for num in lista:
        
        # condicional 
        if num % 2 == 0:
            soma += num
            
print('O soma dos numeros pares das duas linhas é igual a', soma)

O soma dos numeros pares das duas linhas é igual a 12

In [63]:
# listas podem ser concatenadas em Python
lista1 + lista2

[10, 16, 24, 39, 47, 32, 89, 47, 76, 12]

In [65]:
# some os numeros pares daprimeira lista com os numeros pares da segunda

lista1 = [10,16,24,39,47]
lista2 = [32,89,47,76,12]
soma = 0 

for num in lista1 + lista2: 
    if num % 2 == 0:
        soma += num 
    
print('Soma dos valores pares:', soma)

Soma dos valores pares: 170

In [67]:
lista1 = [10,16,24,39,47]
lista2 = [32,89,47,76,12]
soma = 0 

for num in lista1 + lista2:
    if num % 5 == 0:
        soma += num
        
print('Soma dos valores divisiveis por 5:', soma)

Soma dos valores divisiveis por 5: 10

In [69]:
# Loop em lista de listas (matrizes) para encontrar o maior numero 

matriz = [[42, 23, 34], [100, 215,114], [10.1,98.7,12.3]]
maior_numero = 0

# loop externo 
for linha in matriz:
    
    # loop interno
    for num in linha:
        
        # Condicional 
        if num > maior_numero:
            maior_numero = num 

print('Maior número:', maior_numero)

Maior número: 215

In [71]:
# Listando as chaves de um dicionário 
dict = {'k1':'Python', 'k2':'r', 'k3':'Scala'}
for i in dict:
    print(i)

k1
k2
k3

In [72]:
# imprimindo chave a valor do dicionário usando o étodo items() para retornar os itens de um dicionário 
for k,v in dict.items():
    print (k,v)

k1 Python
k2 r
k3 Scala

# Loop While

garantir que a condiçao deixara de ser verdadeira, cabe ao dev fazer isso

In [73]:
# para imprimir os valores de 0 a 9 
# a condiçâo tem que deixar de ser verdadeira dentro do loop

valor = 0 
while valor < 10:
    print(valor)
    valor = valor + 1

0
1
2
3
4
5
6
7
8
9

In [74]:
# entra no loop somente se a condiçâo for verdadeira

valor = 11
while valor < 10:
    print(valor)
    valor = valor + 1

In [76]:
# utilizando cláusula else 

x = 0 

while x < 10:
    print('O valor de x nesta iteraçâo é: ', x)
    print(' x ainda é menor que 10, somando 1 a x')
    x += 1
else: 
    print('Loop concluído!')
print(x)

O valor de x nesta iteraçâo é:  0
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteraçâo é:  1
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteraçâo é:  2
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteraçâo é:  3
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteraçâo é:  4
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteraçâo é:  5
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteraçâo é:  6
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteraçâo é:  7
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteraçâo é:  8
 x ainda é menor que 10, somando 1 a x
O valor de x nesta iteraçâo é:  9
 x ainda é menor que 10, somando 1 a x
Loop concluído!
10

## Pass, break, continue

In [77]:
# se encontrarmos o numero 4 interrompemos o loop 

valor = 0
while valor < 10:
    if valor == 4:
        break 
    else:
        pass
    print(valor)
    valor = valor + 1

0
1
2
3

In [79]:
# desconsideramos a letra z ao imprimir caractreres de uma frase
for letra in 'Python é zzz incrível' :
    if letra == 'z':
        continue 
    print(letra)

P
y
t
h
o
n

é


i
n
c
r
í
v
e
l

In [80]:
 # encontra 6 e interrompe 
    
valor = 0 
while valor < 10:
    if valor == 6:
        break
    else: 
        pass
    print(valor)
    valor = valor + 1

0
1
2
3
4
5

## Loop for e while

encontrando numeros primos

Pseudocodigo:

Inicialize uma lista vazia para armazenar os numeros primos 
Para cada número N entre 2 e 30:
    Inicialize uma variável eh_primo como verdadeira 
    Para cada número i entre 2 e N/2:
        se N é divisível por i, entâo:
            altere a variável eh_primo para falso 
            pare de verificar os outros números 
    se a variável eh_primo ainda é verdadeira, adicione N a lista de numeros primos 
imprima a lista de numero primos

In [84]:
%%time 

# encontrando numeros primos entre 2 e 30 usando loop for e while

# variavel para armazenar 

primos = []

#para percorrer numero de 2 a 30
for num in range(2,31):
    
    #variavel de controle 
    eh_primo = True 
    
    #loop while para verificar se é primo
    i = 2 
    while i <= num // 2:
        if num % i == 0:
            eh_primo = False 
            break 
        i += 1
        
    # adicionando na lista 
    if eh_primo:
        primos.append(num)
        
print(primos)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
CPU times: total: 0 ns
Wall time: 0 ns

# Gerando intervalo de valor em python

## Funçâo range

In [85]:
# imprimindo numeros de 1 a 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [86]:
for i in range(10, 100, 2):
    print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [90]:
# imprimindo numeros pares negativos entre 0 e -20
for i in range(0,-20, -2):
    print(i)

0
-2
-4
-6
-8
-10
-12
-14
-16
-18

In [91]:
# usando o tamanho de uma lista na funçao range()
lista = ['abacaxi','banana', 'morango','uva']
lista_tamanho = len(lista)
for i in range(0, lista_tamanho):
    print(lista[i])

abacaxi
banana
morango
uva

## Métodos

In [1]:
# Criando uma lista 
lista = [100, -2, 12, 65, 0]

In [2]:
type(lista)

list

In [3]:
lista

[100, -2, 12, 65, 0]

In [4]:
lista.append(100)

In [5]:
print(lista)

[100, -2, 12, 65, 0, 100]

In [6]:
lista.count(100)

2

In [7]:
help(lista.count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

In [8]:
# a funçcao dir() mostra todos os métodos e atributos de um objeto 
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [9]:
frase = 'Isso é uma string'

In [10]:
type(frase)

str

In [11]:
#verif metodos e atributos
frase

'Isso é uma string'

In [12]:
# o método de um objeto pode ser chamado dentro de uma funçao, como print()
print(frase.split())

['Isso', 'é', 'uma', 'string']

## Funçoes

In [13]:
# fun built in
print('Hello world')

Hello world

In [14]:
# definindo uma função 
def primeriraFunc():
    print('Hello world')

In [16]:
primeriraFunc()

Hello world

In [17]:
#definindo uma func

def primeiraFunc():
    nome = 'Bob'
    print('Hello %s'%(nome))

In [18]:
primeiraFunc()

Hello Bob

In [19]:
# definindo uma fun

def primeiraFunc():
    nome = 'Cbum'
    print('Hello %s'%(nome))

In [20]:
primeiraFunc()

Hello Cbum

In [21]:
def segundaFunc(nome):
    print('Hello %s'%(nome))

In [23]:
segundaFunc('Aluno')

Hello Aluno

In [27]:
# funcao para imprimir numeros 

def imprimeNumeros():
    for i in range(0, 5):
        print('number ' + str(i))

In [28]:
imprimeNumeros()

number 0
number 1
number 2
number 3
number 4

In [29]:
# funçao para somar numeros 
def addNum(firstnum, secondnum):
    print('primeiro numero ' + str(firstnum))
    print('segundo numero ' + str(secondnum))
    print('Soma: ', firstnum + secondnum)

In [30]:
addNum(4, 10)

primeiro numero 4
segundo numero 10
Soma:  14

In [31]:
addNum(45, 19302)

primeiro numero 45
segundo numero 19302
Soma:  19347

In [33]:
# funcoes de numero variavel e arg
def printVarInfo( arg1, *vartuple ):
    
    print('O parametro passado foi: ',arg1)
    
    for item in vartuple:
        print('O parametro passado foi: ',item)
    return;

In [34]:
printVarInfo(10)

O parametro passado foi:  10

In [35]:
printVarInfo('Chocolate', 'Morango')

O parametro passado foi:  Chocolate
O parametro passado foi:  Morango

## Escopo de variável - local e global

In [36]:
var_global = 10 #Var global 
    
    #funcao
def m_numeros(num1, num2):
    var_global = num1 * num2
    print(var_global)

In [37]:
m_numeros(5, 25)

125

In [38]:
print(var_global)

10

## funcoes built in

In [40]:
abs(-56)

56

In [41]:
abs(23)

23

In [ ]:
bool(0)

In [42]:
# erro ao executar por causa da coversao
idade = input('Digite sua idade: ')
if age > 13:
    print('Voce pode usar sm')
else:
    print('Seus pais deveriam te auxiliar')

Digite sua idade: 14

NameError: name 'age' is not defined

In [46]:
idade = int(input('Digite sua idade: '))
if idade > 13:
    print('Voce pode usar redes sociais')
else: 
    print('Seus pais sao irresponsaveis')

Digite sua idade: tres

ValueError: invalid literal for int() with base 10: 'tres'

In [47]:
int('26')

26

In [49]:
float('123.345')

123.345

In [50]:
str(14)

'14'

In [51]:
len([23, 34,45,46])

4

In [53]:
array = [1, 2, 3]

In [54]:
max(array)

3

min(array)

In [55]:
min(array)

1

In [56]:
sum(array)

6

In [57]:
list1 = [16, 23, 44, 75]

In [58]:
sum(list1)

158

## Criando funçoes usando outras funçoes

In [6]:
import math 

#verificando se o numero é primo 
def numPrimo(num):
    if (num % 2) == 0 and num > 2:
        return 'Este numero nâo é primo'
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if(num % i) == 0:
            return 'Este numero nao é primo'
    return 'Ese numer é primo'

In [7]:
numPrimo(541)

'Ese numer é primo'

In [8]:
numPrimo(2)

'Ese numer é primo'

In [9]:
caixa_baixa = 'THIS should be on lower'

In [10]:
def lowercase(text):
    return text.lower()

In [11]:
lowercased_string = lowercase(caixa_baixa)

In [12]:
lowercased_string

'this should be on lower'

In [13]:
caixa_alta = 'THIS should be on lower'

In [14]:
def uppercase(text):
    return text.upper()

In [15]:
uppercased_string = uppercase(caixa_alta)

In [16]:
uppercased_string

'THIS SHOULD BE ON LOWER'

## Fazendo split de dados

In [17]:
# fazendo split dos dados 

def split_string_palavras(text):
    return text.split(' ')

In [18]:
texto = ' esta funcao e bastante util para separar grandes volumes de dados'

In [19]:
# isso divide a string em uma lista de palavras 
print(split_string_palavras(texto))

['', 'esta', 'funcao', 'e', 'bastante', 'util', 'para', 'separar', 'grandes', 'volumes', 'de', 'dados']

In [20]:
token = split_string_palavras(texto)

In [21]:
token

['',
 'esta',
 'funcao',
 'e',
 'bastante',
 'util',
 'para',
 'separar',
 'grandes',
 'volumes',
 'de',
 'dados']

In [24]:
# divisao em letras 
def split_string_letras(text):
    texto = text.upper()
    for letra in texto:
        print(letra)

In [26]:
split_string_letras(texto)

E
S
T
A

F
U
N
C
A
O

E

B
A
S
T
A
N
T
E

U
T
I
L

P
A
R
A

S
E
P
A
R
A
R

G
R
A
N
D
E
S

V
O
L
U
M
E
S

D
E

D
A
D
O
S

## Expressâo Lambda

In [39]:
# definindo uma funçao - 3 linhas
def potencia(num):
    resultado = num ** 2
    return resultado

In [40]:
potencia(5)

25

In [41]:
# definindo uma funçao - 2 linhas
def potencia(num):
    return num ** 2

In [42]:
potencia(5)

25

In [43]:
# definindo uma funçao - 1 linha 
def potencia(num): return num ** 2

In [44]:
potencia(5)

25

In [45]:
# definindo uma expressao lambda (fun anonima)
potencia = lambda num: num **2

In [46]:
potencia(5)

25

In [1]:
# lembre: operadores de comparaçâo retornam boolean: true or false 
par = lambda x: x%2==0

In [48]:
par(3)

False

In [49]:
par(4)

True

In [53]:
first = lambda s: s[0]

In [54]:
first('Python')

'P'

In [55]:
reverso = lambda s: s[::-1]

In [56]:
reverso('Python')

'nohtyP'

In [57]:
reverso = lambda s: s[::-1]

In [58]:
reverso('Sarah')

'haraS'

In [60]:
reverso('paralelepipedo')

'odepipelelarap'

In [61]:
reverso('otorrinolaringologista')

'atsigologniralonirroto'

In [59]:
reverso('victor')

'rotciv'

In [71]:
addNum = lambda x,y : x+y

In [72]:
addNum(2,3)

5

## List comprehension

In [1]:
# list comprehension que imprime os números até 10
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
[x for x in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [4]:
lista_numeros = [x for x in range(10)]

In [5]:
print(lista_numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
lista_numeros = [x for x in range(10) if x < 5]
print(lista_numeros)

[0, 1, 2, 3, 4]

In [9]:
len(lista_numeros)

5

In [10]:
# lista de frutas
lista_frutas = ['banana', 'pera', 'maça', 'melancia', 'cereja']

# nova lista 
nova_lista = []

In [11]:
for x in lista_frutas:
    if 'm' in x:
        nova_lista.append(x)

print(nova_lista)

['maça', 'melancia']

In [14]:
for x in lista_frutas:
    if 'y' in x:
        nova_lista.append(x)
        
print(nova_lista)

['maça', 'melancia']

In [15]:
nova_lista = [x for x in lista_frutas if 'm' in x]
print(nova_lista)

['maça', 'melancia']

In [16]:
# dict comprehension 

dict_alunos = { 'Bob': 68, 'Michel': 84, 'Zico': 57, 'Ana': 93}

#criamos um novo dicionário imprimindo os pares chave:valor
dict_alunos_status = {k:v for (k, v) in dict_alunos.items()}
print(dict_alunos_status)

{'Bob': 68, 'Michel': 84, 'Zico': 57, 'Ana': 93}

In [18]:
dict_alunos = { 'Bob': 68, 'Michel': 84, 'Zico': 57, 'Ana': 93}

dict_alunos_status = {k: ('Aprovado' if v > 70 else 'Reprovado') for (k, v) in dict_alunos.items()}
print(dict_alunos_status)

{'Bob': 'Reprovado', 'Michel': 'Aprovado', 'Zico': 'Reprovado', 'Ana': 'Aprovado'}