# Objeto

In [1]:
# criandouma lista 
lst_num = ["Data", "Science", "Academy", "Nota", 10, 10]

In [2]:
type(lst_num)

list

In [3]:
print(type([]))

<class 'list'>

In [4]:
lst_num.count(10)

2

In [5]:
# usamos a func type para verificar um tipo de objeto

print(type(10))
print(type([]))
print(type({}))
print(type('a'))
print(type(()))

<class 'int'>
<class 'list'>
<class 'dict'>
<class 'str'>
<class 'tuple'>

In [6]:
# criando um novo obj chamado carro 
class Carro():
    pass

In [7]:
ferrari = Carro()

In [8]:
fusca = Carro()

In [11]:
print(type( fusca))

<class '__main__.Carro'>

In [10]:
print(type(ferrari))

<class '__main__.Carro'>

In [12]:
# Criando uma classe 
class Estudantes():
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade 
        self.nota = nota

In [13]:
Estudante1 = Estudantes("Bob", 12, 9.5)

In [14]:
Estudante1.nome

'Bob'

In [15]:
Estudante1.idade

12

In [16]:
Estudante1.nota

9.5

In [22]:
class Funcionarios():
    
    def __init__(self, nome, salario, cargo):
        self.nome = nome
        self.salario = salario
        self.cargo = cargo
    
    def listFunc(self):
        print("Funcionario(a) " + self.nome + " tem salario de R$" + str(self.salario) + " e o cargo é " + self.cargo )

In [23]:
Func1 = Funcionarios("Mary", 2000, "Cientista de Dados")

In [24]:
Func1.listFunc()

Funcionario(a) Mary tem salario de R$2000 e o cargo é Cientista de Dados

In [25]:
print("****Usando atributos****")

****Usando atributos****

In [26]:
hasattr(Func1, "nome")

True

In [28]:
hasattr(Func1, "salaio")

False

In [29]:
setattr(Func1, "salario", 4500)

In [30]:
hasattr(Func1, "salario")

True

In [31]:
getattr(Func1, "salario")

4500

In [32]:
delattr(Func1, "salario")

In [33]:
hasattr(Func1, "salario")

False

In [5]:
class Universitários:
    
    def __init__(self, nome, status, humor):
        self.nome = nome
        self.status = status
        self.humor = humor 
        
    def listFunc2(self):
        print("Universitários(as)" + self.nome + " é " + self.status + " e está " + self.humor)

In [6]:
Func2 = Universitários("Sarah", "focada", "com sede")

In [8]:
Func2.listFunc2()

Universitários(as)Sarah é focada e está com sede

In [11]:
Func3 = Universitários("Davi", " dropout " , " dormindo ")

In [12]:
Func3.listFunc2()

Universitários(as)Davi é  dropout  e está  dormindo